.App {
  font-family: "Montserrat", sans-serif;
  max-width: 625px !important;
  margin: 10px auto;
  width: 80%;
}

.App .wrapper {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
  border-radius: 10px;
}

.App .upper-wrap {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 20px auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.App .upper {
  position: relative;
  margin: 10px auto;
}

/* .App .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.App .active:hover {
  text-decoration: none;
  color: black;
} */

/* .App .weekday,
.App .temperatures,
.App .icon {
  text-align: center;
}

.App .icon {
  margin: 5px auto;
}

.App .weekday {
  font-size: 15px;
}
.App .temperatures {
  font-size: 12px;
}

.App .forecast {
  padding-left: 10px;
  padding-right: 10px;
} */
